<p id="notice"><%= notice %></p>



<div class='col-md-12'>
  <h1>Watchlist</h1>
  <h3>Enter New Symbol</h3>


    <%= render 'form' %>


    <div class="stock-container">
      <% @stocks.each do |stock| %>
        <%= render stock %>
      <% end %>
    </div>

</div>



<%#= render 'shared/tweets' %>





