<p id="notice"><%= notice %></p>



<div class='col-md-12'>
  <h1>Watchlist</h1>
  <h3>Enter New Symbol</h3>


    <%= render 'form' %>

<!-- table class="table table-striped">
  <thead>
    <tr>
      <th>Symbol</th>
      <th>Name</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead> -->
    <div class="stock-container">
      <% @stocks.each do |stock| %>
        <%= render stock %>
      <% end %>
    </div> 

</div>
  
<!-- </table> -->

<%= render 'shared/tweets' %>




